*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #380861;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color: #380861;
    margin-left: 10%;

}

fieldset{
    border: 0;
}
body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 63%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;


}
.campo{
    margin-bottom: 1em;

}
.campo label{
    margin-bottom: 0.2em;
    color:#59429d;
    display: block;

}
fielset.grupo .campo{
    float: left;
}
